<div flex layout="row">
  <mat-card flex>
   &nbsp;
    <span></span>
    <mat-form-field>
      <mat-label>Select a region</mat-label>
      <mat-select (selectionChange)="selected($event)" value="E92000001" required>
        <mat-option value="E92000001">England</mat-option>
        <mat-option value="E12000001">North East</mat-option>
        <mat-option value="E12000002">North West</mat-option>
        <mat-option value="E12000003">Yorkshire and The Humber</mat-option>
        <mat-option value="E12000004">East Midlands</mat-option>
        <mat-option value="E12000005">West Midlands</mat-option>
        <mat-option value="E12000006">East of England</mat-option>
        <mat-option value="E12000007">London</mat-option>
        <mat-option value="E12000008">South East</mat-option>
        <mat-option value="E12000009">South West</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>
<div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <div flex layout="row">


<mat-card flex>
            <ngx-charts-line-chart
              flex
              [view]="view"
              (window:resize)="onResize($event)"
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              yAxisLabel='Total Cases'
              [timeline]="timeline"
              [results]="multiTotalCases"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-line-chart>
  </mat-card>
    <mat-card flex>

             <ngx-charts-line-chart
                flex
                [view]="view"
                [scheme]="colorScheme"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                yAxisLabel='Cases/Million'
                [timeline]="timeline"
                [results]="multiCasesPerMillion"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
              >
              </ngx-charts-line-chart>

    </mat-card>
</div>
  <div flex layout="row">
    <mat-card flex>
      <ngx-charts-advanced-pie-chart

        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalCases"
        [gradient]="agradient">
      </ngx-charts-advanced-pie-chart>
    </mat-card>
  </div>

  <div flex layout="row">
    <mat-card flex>
      <table fxFill="100" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Area </th>
          <td mat-cell *matCellDef="let report"> {{report.name}} </td>
        </ng-container>

        <ng-container matColumnDef="population">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Population </th>
          <td mat-cell *matCellDef="let report"> {{report.population}} </td>
        </ng-container>

        <ng-container matColumnDef="cases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases </th>
          <td mat-cell *matCellDef="let report"> {{report.cases}} </td>
        </ng-container>

        <ng-container matColumnDef="casespermillion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases / Million </th>
          <td mat-cell *matCellDef="let report"> {{round(report.casespermillion)}} </td>
        </ng-container>

        <ng-container matColumnDef="healthindex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Health Index </th>
          <td mat-cell *matCellDef="let report"> {{round(report.healthindex)}} </td>
        </ng-container>
        <ng-container matColumnDef="depravityindex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg MDI </th>
          <td mat-cell *matCellDef="let report"> {{round(report.depravityindex)}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
    <mat-card flex>
      <ngx-charts-pie-chart
        flex
        legendTitle="Total Cases"
        [view]="view"
        [scheme]="colorScheme"
        [legend]=false
        [labels]=true
        yAxisLabel='Cases/Million'
        [results]="totalCases"
      >
      </ngx-charts-pie-chart>

    </mat-card>
  </div>
  <div flex layout="row">
  <mat-card flex>
    <mat-card-content>
    <td-message label="Info" sublabel="This data is sourced from Public Health England COVID-19 and Office for National Statistics" color="accent" icon="info"></td-message>
      <br><br>
      For more information see <a href="https://www.gov.uk/government/publications/covid-19-track-coronavirus-cases">Public Health England - COVID-19: track coronavirus cases</a>
      It uses an open API called <a href="https://www.hl7.org/fhir/">HL7 FHIR R4</a>, using UK Core standards and is following emerging international practice for reporting COVID-19. The API endpoint is on TBD
    </mat-card-content>
  </mat-card>
  </div>
</div>

