<div flex layout="row">
  <mat-card flex>
    <mat-card-content>
      <td-message label="Info" sublabel="This data is sourced from Public Health England COVID-19 and Office for National Statistics [{{todayStr}}]" color="accent" icon="info"> </td-message>
      <br>
      For more information see <a href="https://www.gov.uk/government/publications/covid-19-track-coronavirus-cases">Public Health England - COVID-19: track coronavirus cases</a>
    </mat-card-content>
  </mat-card>
</div>
<div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
  <div flex layout="row">
    <mat-card flex>
      <ngx-charts-advanced-pie-chart

        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalCases"
        [gradient]="agradient"
        (select)="onSelectAdv($event)">
      </ngx-charts-advanced-pie-chart>
    </mat-card>
  </div>
  <div flex layout="row">


<mat-card flex>
            <ngx-charts-line-chart
              flex
              [view]="view"
              (window:resize)="onResize($event)"

              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              yAxisLabel='Total Cases'
              [timeline]="timeline"
              [results]="multiTotalCases"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-line-chart>
  </mat-card>
    <mat-card flex>

             <ngx-charts-line-chart
                flex
                [view]="view"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                yAxisLabel='Cases/Million'
                [timeline]="timeline"
                [results]="multiCasesPerMillion"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
              >
              </ngx-charts-line-chart>

    </mat-card>
</div>

 <div flex layout="row">
   <mat-card flex>

       <h3>&nbsp;Current Cases</h3>
       <ngx-charts-pie-chart
         legendTitle="Cases"
         [view]="view"
         [legend]=false
         [labels]=true
         [results]="totalCases"
       >
       </ngx-charts-pie-chart>
   </mat-card>
     <mat-card flex>
     <h3>&nbsp;Current Cases Per Million</h3>
     <ngx-charts-pie-chart
       legendTitle="Cases Per Million"
       [view]="view"
       [legend]=false
       [labels]=true
       [results]="totalCasesMillion"
     >
     </ngx-charts-pie-chart>
     </mat-card>
 </div>
  <div flex layout="row">
    <mat-card flex>
      <table fxFill="100" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header width="25% "> Area </th>
          <td mat-cell *matCellDef="let report">
            <div style="word-wrap: break-word">
              {{report.name}}
            </div>
           </td>
        </ng-container>

        <ng-container matColumnDef="population">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Population </th>
          <td mat-cell *matCellDef="let report"> {{report.population}} </td>
        </ng-container>

        <ng-container matColumnDef="cases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases </th>
          <td mat-cell *matCellDef="let report"> {{report.cases}} </td>
        </ng-container>

        <ng-container matColumnDef="casespermillion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Case / Million </th>
          <td mat-cell *matCellDef="let report"> {{round(report.casespermillion)}} </td>
        </ng-container>

        <ng-container matColumnDef="healthindex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Health Index </th>
          <td mat-cell *matCellDef="let report"> {{round(report.healthindex)}} </td>
        </ng-container>
        <ng-container matColumnDef="depravityindex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg MDI </th>
          <td mat-cell *matCellDef="let report"> {{round(report.depravityindex)}} </td>
        </ng-container>

        <ng-container matColumnDef="perkmsq">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Case / km sq </th>
          <td mat-cell *matCellDef="let report"> {{round2sf(report.perkmsq)}} </td>
        </ng-container>

        <ng-container matColumnDef="populationkmsq">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Population / km sq </th>
          <td mat-cell *matCellDef="let report"> {{round2sf(report.populationkmsq)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>

  </div>

</div>
<!--

<div flex layout="row">
  <mat-card>
    <td-chart>
      <td-chart-series td-map
                       [name]="'England Cases'"
                       [map]="'UK'"
                       [data]="[
                    {name: 'E0000001', value: 4822023}

                  ]"
                       [roam]="true"
                       [itemStyle]="{ emphasis:{label:{show:true}}}">
      </td-chart-series>
    </td-chart>
  </mat-card>
</div> -->

