
  <mat-card>
    <mat-card-content>
      <td-message label="Info" sublabel="This data is sourced from NHS Digital COVID-19  National Statistics [Data for: {{todayStr}}]" color="accent" icon="info"> </td-message>
      <br>
      For more information see <a href="https://digital.nhs.uk/data-and-information/publications/statistical/mi-potential-covid-19-symptoms-reported-through-nhs-pathways-and-111-online/latest" target="_blank">NHS Digital Potential COVID-19 symptoms reported through NHS Pathways and 111 online.</a>
      <br><br>
      <td-message label="Info" sublabel="CCG Boundary Changes 1st April.  A number of NHS organisations merged on the 1st April. Updates are being supplied with a mix of old and new organisations, which may cause oddities in the graphs and tables." color="accent" icon="info">
      </td-message>

    </mat-card-content>
  </mat-card>

<div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

    <mat-card flex>
      <mat-card-header><h3>COVID-19 Potential NHS 111/999 Triaged</h3></mat-card-header>
      <mat-card-content>
      <ngx-charts-advanced-pie-chart
        (window:resize)="onResize($event)"
        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalTriaged"
        [gradient]="agradient"
        (select)="onSelectAdv($event)">
      </ngx-charts-advanced-pie-chart>
      </mat-card-content>
    </mat-card>

    <mat-card flex>
      <mat-card-header><h3> COVID-19 Potential NHS 111 Online</h3></mat-card-header>
      <mat-card-content>
      <ngx-charts-advanced-pie-chart
        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalOnline"
        [gradient]="agradient"
        (select)="onSelectAdv($event)">
      </ngx-charts-advanced-pie-chart>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header><h3>COVID 19 Potential NHS 111/999 Triage and NHS 111 Online</h3></mat-card-header>
      <mat-card-content>
        <div layout="row" layout-align="start center" flex>
        <span>

          <ngx-charts-line-chart
            flex
            [view]="view"
             [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            yAxisLabel='NHS 111/999 Triaged'
            [timeline]="timeline"
            [results]="dailyTriaged"
            (select)="onSelectAdv($event)">
          >
          </ngx-charts-line-chart>
        </span>
        <span>

          <ngx-charts-line-chart
            flex
            [view]="view"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            yAxisLabel='NHS 111 Online'
            [timeline]="timeline"
            [results]="dailyOnline"
            (select)="onSelectAdv($event)">
          >
          </ngx-charts-line-chart>
      </span>
        </div>
    </mat-card-content>
    </mat-card>
  <mat-card>
    <mat-card-header><h3>COVID 19 Potential NHS 111/999 Triage and NHS 111 Online Per Million</h3></mat-card-header>
    <mat-card-content>
      <div layout="row" layout-align="start center" flex>
        <span>
            <h4>NHS Triaged Per Million</h4>
           <ngx-charts-pie-chart
             legendTitle="Cases"
             [view]="view"
             [legend]=false
             [labels]=true
             [results]="totalTriagedPM"
           >
       </ngx-charts-pie-chart>
        </span>
        <span>  <h4>NHS 111 Online Per Million</h4>
             <ngx-charts-pie-chart
               legendTitle="Cases"
               [view]="view"
               [legend]=false
               [labels]=true
               [results]="totalOnlinePM"
             >
       </ngx-charts-pie-chart>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <table fxFill="100" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header width="25% "> NHS Region </th>
        <td mat-cell *matCellDef="let nhs">
          <div style="word-wrap: break-word">
            {{nhs.name}}
          </div>
        </td>
      </ng-container>



      <ng-container matColumnDef="femaletotalonline">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online Female </th>
      <td mat-cell *matCellDef="let nhs"> {{nhs.femaletotalonline}} </td>
    </ng-container>
      <ng-container matColumnDef="femaletotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Triage Female </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.femaletotal}} </td>
      </ng-container>

      <ng-container matColumnDef="maletotalonline">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online Male </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.maletotalonline}} </td>
      </ng-container>
      <ng-container matColumnDef="maletotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Triage male </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.maletotal}} </td>
      </ng-container>

      <ng-container matColumnDef="ratiototal">
        <th mat-header-cell  *matHeaderCellDef> NHS Triage Male % </th>
        <td mat-cell *matCellDef="let nhs"> {{round(nhs.maletotal*100/(nhs.femaletotal+nhs.maletotal))}}% </td>
      </ng-container>

      <ng-container matColumnDef="ratiototalonline">
        <th mat-header-cell  *matHeaderCellDef> 111 Online Male % </th>
        <td mat-cell *matCellDef="let nhs"> {{round(nhs.maletotalonline*100/(nhs.femaletotalonline+nhs.maletotalonline))}}% </td>
      </ng-container>


      <ng-container matColumnDef="triagetotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Triage </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.triagetotal}} </td>
      </ng-container>
      <ng-container matColumnDef="population">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Population </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.population}} </td>
      </ng-container>
      <ng-container matColumnDef="onlinetotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.onlinetotal}} </td>
      </ng-container>
      <ng-container matColumnDef="onlinetotalpermillion">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online / Million  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.onlinetotalpermillion}} </td>
      </ng-container>
      <ng-container matColumnDef="triagetotalpermillion">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Triage / Million  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.triagetotalpermillion}} </td>
      </ng-container>
      <ng-container matColumnDef="triagedayper">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Dalily NHS Triage / Million  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.triagedayper}} </td>
      </ng-container>
      <ng-container matColumnDef="onlinedayper">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Daily Online / Million  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.onlinedayper}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>

</div>
