<mat-drawer-container hasBackdrop="false">
  <mat-drawer #drawer mode="push" >
    <mat-nav-list>
        <a mat-list-item *ngFor="let location of locations"  (click)="selectedNHS(location)">{{location.name}}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar layout="row" td-toolbar-content layout-align="start center" flex>
        <span>
            <span *ngIf="regionCode != undefined && regionCode != 'E40000000'">
            <a mat-icon-button matTooltip="Parent Region" color="accent" (click)="selectedNHS2(location)">
              <mat-icon>arrow_back</mat-icon>
            </a>
            </span>
          <a mat-icon-button color="accent" matTooltip="Region Menu" (click)="drawer.toggle()">
              <mat-icon>menu_open</mat-icon>
          </a>

        </span>
      <span>
      Pathways - {{regionName}} [Last updated: {{todayStr}}]
        </span>
    </mat-toolbar>

<div class="app-body" *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">


   <span *ngIf="!lowLevelHide">
    <mat-card flex>
      <mat-card-header><h3>NHS Pathways</h3></mat-card-header>
      <mat-card-content>
      <ngx-charts-advanced-pie-chart
        (window:resize)="onResize($event)"
        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalTriaged"
        [gradient]="agradient"
        (select)="onSelectAdv($event)">
      </ngx-charts-advanced-pie-chart>
      </mat-card-content>
    </mat-card>

    <mat-card flex>
      <mat-card-header><h3>NHS 111 Online</h3></mat-card-header>
      <mat-card-content>
      <ngx-charts-advanced-pie-chart
        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalOnline"
        [gradient]="agradient"
        (select)="onSelectAdv($event)">
      </ngx-charts-advanced-pie-chart>
      </mat-card-content>
    </mat-card>
   </span>
  <span *ngIf="lowLevelHide">
    <mat-card>
      <mat-card-content>
         <div layout="row" layout-align="start center" flex>
        <span>
          <h3>NHS Pathways</h3>
            <ngx-charts-advanced-pie-chart
              (window:resize)="onResize($event)"
              [view]="bview"
              [scheme]="colorScheme"
              [results]="totalTriaged"
              [gradient]="agradient"
              (select)="onSelectAdv($event)">
            </ngx-charts-advanced-pie-chart>
        </span>
           <span>
              <h3>NHS 111 Online</h3>
              <ngx-charts-advanced-pie-chart
                [view]="bview"
                [scheme]="colorScheme"
                [results]="totalOnline"
                [gradient]="agradient"
                (select)="onSelectAdv($event)">
              </ngx-charts-advanced-pie-chart>
             </span>
         </div>
      </mat-card-content>
    </mat-card>
   </span>
    <mat-card>
      <mat-card-header><h3>Daily Trend per 100,000 population</h3></mat-card-header>
      <mat-card-content>
        <div layout="row" layout-align="start center" flex>
        <span>

          <ngx-charts-area-chart-stacked
            flex
            [view]="view"
             [legend]="legend"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            yAxisLabel='Pathways per 100,000 population'
            [timeline]="timeline"
            [results]="dailyTriaged"
            showRefLines="true"

            (select)="onSelectAdv($event)">
          >
          </ngx-charts-area-chart-stacked>
        </span>
        <span>

          <ngx-charts-area-chart-stacked
            flex
            [view]="view"
            [legend]="legend"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            yAxisLabel='Online per 100,000 population'
            [timeline]="timeline"
            [results]="dailyOnline"
            (select)="onSelectAdv($event)">
          >
          </ngx-charts-area-chart-stacked>
      </span>
        </div>
    </mat-card-content>
    </mat-card>
  <span *ngIf="!lowLevelHide">
  <mat-card>
    <mat-card-header><h3>Cumulative Totals per 100,000 population</h3></mat-card-header>
    <mat-card-content>
      <div layout="row" layout-align="start center" flex>
        <span>
            <h4>NHS Pathways per 100,000 population</h4>
           <ngx-charts-pie-chart
             legendTitle="Cases"
             [view]="view"
             [scheme]="colorScheme"
             [legend]=false
             [labels]=true
             [results]="totalTriagedPer100k"
           >
       </ngx-charts-pie-chart>
        </span>
        <span>  <h4>NHS 111 Online per 100,000 population</h4>
             <ngx-charts-pie-chart
               legendTitle="Cases"
               [view]="view"
               [scheme]="colorScheme"
               [legend]=false
               [labels]=true
               [results]="totalOnlinePer100k"
             >
       </ngx-charts-pie-chart>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
    </span>
  <mat-card>
    <table fxFill="100" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header width="25% "> NHS Region </th>
        <td mat-cell *matCellDef="let nhs">
          <div style="word-wrap: break-word">
            {{nhs.name}}
          </div>
        </td>
      </ng-container>



      <ng-container matColumnDef="femaletotalonline">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online Female </th>
      <td mat-cell *matCellDef="let nhs"> {{nhs.femaletotalonline}} </td>
    </ng-container>
      <ng-container matColumnDef="femaletotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Pathways Female </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.femaletotal}} </td>
      </ng-container>

      <ng-container matColumnDef="maletotalonline">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online Male </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.maletotalonline}} </td>
      </ng-container>
      <ng-container matColumnDef="maletotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Pathways male </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.maletotal}} </td>
      </ng-container>

      <ng-container matColumnDef="ratiototal">
        <th mat-header-cell  *matHeaderCellDef> NHS Pathways Male % </th>
        <td mat-cell *matCellDef="let nhs"> {{round(nhs.maletotal*100/(nhs.femaletotal+nhs.maletotal))}}% </td>
      </ng-container>

      <ng-container matColumnDef="ratiototalonline">
        <th mat-header-cell  *matHeaderCellDef> 111 Online Male % </th>
        <td mat-cell *matCellDef="let nhs"> {{round(nhs.maletotalonline*100/(nhs.femaletotalonline+nhs.maletotalonline))}}% </td>
      </ng-container>
      <ng-container matColumnDef="nhsCost">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header=""> Beta Cost Estimate </th>
        <td mat-cell *matCellDef="let nhs"> {{round(nhs.nhsCost)}} </td>
      </ng-container>
      <ng-container matColumnDef="riskFactor">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header=""> Beta Risk Factor </th>
        <td mat-cell *matCellDef="let nhs"> {{round(nhs.riskFactor)}} </td>
      </ng-container>

      <ng-container matColumnDef="triagetotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Cumulative NHS Pathways </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.triagetotal}} </td>
      </ng-container>
      <ng-container matColumnDef="population">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Population </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.population}} </td>
      </ng-container>
      <ng-container matColumnDef="onlinetotal">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Cumulative 111 Online </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.onlinetotal}} </td>
      </ng-container>
      <ng-container matColumnDef="onlinetotalper100k">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> 111 Online per 100,000 population  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.onlinetotalper100k}} </td>
      </ng-container>
      <ng-container matColumnDef="triagetotalper100k">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> NHS Pathways per 100,000 population </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.triagetotalper100k}} </td>
      </ng-container>
      <ng-container matColumnDef="triagedayper">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Dalily NHS Triage per 100,000 population  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.triagedayper}} </td>
      </ng-container>
      <ng-container matColumnDef="onlinedayper">
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> Daily Online per 100,000 population  </th>
        <td mat-cell *matCellDef="let nhs"> {{nhs.onlinedayper}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>

</div>

  </mat-drawer-content>

</mat-drawer-container>>
