<div flex layout="row">
  <mat-card flex>
    <mat-card-content>
      <td-message label="Info" sublabel="This data is sourced from NHS Digital COVID-19  National Statistics" color="accent" icon="info"> </td-message>
      <br>
      For more information see <a href="https://digital.nhs.uk/data-and-information/publications/statistical/mi-potential-covid-19-symptoms-reported-through-nhs-pathways-and-111-online/latest">NHS Digital Potential COVID-19 symptoms reported through NHS Pathways and 111 online</a>
    </mat-card-content>
  </mat-card>
</div>
