:host {
  width: 100%;
}
mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%  !important;
}

mat-drawer {
  height: 100vh;
  position: fixed;
}

.app-body {
  margin-top: 66px;
}

