<mat-drawer-container hasBackdrop="false" td>
  <mat-drawer #drawer mode="push" >
    <mat-nav-list>
      <a mat-list-item *ngFor="let location of locations"  (click)="selected(location)">{{location.name}}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>

      <mat-card>
    <mat-card-content>
      <div layout="row" layout-align="start center" flex>
        <span>
          <button mat-icon-button color="accent" (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
        </span>
        <span></span>
        <span flex-grow>
      <td-message label="Info" sublabel="This data is sourced from Public Health England COVID-19 and Office for National Statistics [Last update: {{todayStr}}]" color="accent" icon="info"> </td-message>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

<div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">

    <mat-card>
      <mat-card-header><h3>Summary</h3></mat-card-header>
      <mat-card-content>
      <ngx-charts-advanced-pie-chart

        [view]="aview"
        [scheme]="colorScheme"
        [results]="totalCases"
        [gradient]="agradient"
        (select)="onSelectAdv($event)">
      </ngx-charts-advanced-pie-chart>
      </mat-card-content>
    </mat-card>

  <mat-card>
    <mat-card-header><h3>Cumulative Cases</h3></mat-card-header>
    <mat-card-content>
      <div layout="row" layout-align="start center" flex>
        <span>
              <ngx-charts-line-chart
                flex
                [view]="view"
                (window:resize)="onResize($event)"
                [scheme]="colorScheme"
                [legend]="legend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                yAxisLabel='Cases'
                [timeline]="timeline"
                [results]="cases"
                (select)="onSelectAdv($event)"
              >
              </ngx-charts-line-chart>
        </span>
        <span>
            <ngx-charts-line-chart
              flex
              [view]="view"
              (window:resize)="onResize($event)"
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              yAxisLabel='Cases Per 100,000 Population'
              [timeline]="timeline"
              [results]="casesPer100k"
              (select)="onSelectAdv($event)"
            >
              </ngx-charts-line-chart>

        </span>
      </div>
    </mat-card-content>
  </mat-card>

   <mat-card>
     <mat-card-header><h3>New Cases</h3></mat-card-header>
     <mat-card-content>
        <div layout="row" layout-align="start center" flex>
              <span>
                 <ngx-charts-bar-vertical-stacked
                    [view]="bview"
                    [scheme]="colorScheme"
                    gradient=false
                    legend=false
                    xAxis="true"
                    yAxis="true"
                    showXAxisLabel="true"
                    showYAxisLabel="true"
                    xAxisLabel="Date"
                    yAxisLabel="Count"
                    [results]="dailyChangeByDate"
                    [barPadding]="1"
                    (select)="onSelectAdv($event)"
                  >
                 </ngx-charts-bar-vertical-stacked>

              </span>
        </div>
       </mat-card-content>
     </mat-card>


    <mat-card>
      <table fxFill="100" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header width="25% "> Area </th>
          <td mat-cell *matCellDef="let report">
            <div style="word-wrap: break-word">
              {{report.name}}
            </div>
           </td>
        </ng-container>

        <ng-container matColumnDef="population">
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> Population </th>
          <td mat-cell *matCellDef="let report"> {{report.population}} </td>
        </ng-container>

        <ng-container matColumnDef="cases">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cumulative Cases </th>
          <td mat-cell *matCellDef="let report"> {{report.cases}} </td>
        </ng-container>

        <ng-container matColumnDef="casesper100k">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidence per 100,000 population </th>
          <td mat-cell *matCellDef="let report"> {{round(report.casesper100k)}} </td>
        </ng-container>

        <ng-container matColumnDef="healthindex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg Health Index </th>
          <td mat-cell *matCellDef="let report"> {{round(report.healthindex)}} </td>
        </ng-container>
        <ng-container matColumnDef="depravityindex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Avg MDI </th>
          <td mat-cell *matCellDef="let report"> {{round(report.depravityindex)}} </td>
        </ng-container>

        <ng-container matColumnDef="perkmsq">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Case / km sq </th>
          <td mat-cell *matCellDef="let report"> {{round2sf(report.perkmsq)}} </td>
        </ng-container>

        <ng-container matColumnDef="populationkmsq">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Population / km sq </th>
          <td mat-cell *matCellDef="let report"> {{round2sf(report.populationkmsq)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
</div>

  </mat-drawer-content>
</mat-drawer-container>
<!--

<div flex layout="row">
  <mat-card>
    <td-chart>
      <td-chart-series td-map
                       [name]="'England Cases'"
                       [map]="'UK'"
                       [data]="[
                    {name: 'E0000001', value: 4822023}

                  ]"
                       [roam]="true"
                       [itemStyle]="{ emphasis:{label:{show:true}}}">
      </td-chart-series>
    </td-chart>
  </mat-card>
</div> -->

