
<td-layout [class]="'theme-light'">

  <td-navigation-drawer #drawer flex sidenavTitle="COVID-19 UK">
    <mat-nav-list>

      <a mat-list-item (click)="selected('main')">
        Mortality (Hospital and BDM)</a>
      <a mat-list-item (click)="selected('phe')" >
        Cases (Lab Reported)</a>
      <a mat-list-item (click)="selected('nhs111')" >
        Pathways (NHS 111) </a>
      <a mat-list-item (click)="selected('about')" >
        About this site </a>
         <a mat-list-item tdLayoutToggle><mat-icon>close</mat-icon>Close Drawer</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>

    </div>
  </td-navigation-drawer>

  <td-layout-nav navigationRoute="/">
    <div td-toolbar-content layout="row" layout-align="start center" flex>

      <span  class="cursor-pointer">
        <button mat-icon-button td-menu-button tdLayoutToggle>
             <mat-icon>menu</mat-icon>
           </button>
        COVID-19 UK
      </span>

      <span flex></span>


    </div>
    <router-outlet></router-outlet>

  </td-layout-nav>
</td-layout>

