<div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">


<mat-card>
  <mat-card-header><h3>Morbidity</h3></mat-card-header>
  <mat-card-content>
    <div layout="row" layout-align="start center" flex>
        <span>

          <ngx-charts-line-chart
            flex
            [view]="view"
            [legend]="legend"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            yAxisLabel='Deaths'

            [results]="totalDeaths"
            showRefLines="true"
         >

          </ngx-charts-line-chart>
        </span>

    </div>
  </mat-card-content>
</mat-card>
  <mat-card>
    <mat-card-header><h3>Morbidity Per 100,000 Population</h3></mat-card-header>
    <mat-card-content>
      <div layout="row" layout-align="start center" flex>

        <span>

          <ngx-charts-line-chart
            flex
            [view]="view"
            [legend]="legend"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            yAxisLabel='Deaths per 100,000 population'

            [results]="totalDeathsPer100k"

            showRefLines="false"
          >

          </ngx-charts-line-chart>
      </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
